# Exercises For Session 3

Enter your answers in the preallocated empty cells.

### Exercise 1: Variables, Numbers and Strings

You have a variable of type *int* and another one of type *float*.

In [43]:
a = 40
b = 4.0
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

Convert the integer *a* to a *float*, and viceversa.

In [44]:
a=float(a)
print(type(a))
b=int(b)
print(type(b))

<class 'float'>
<class 'int'>

Sum, subtract, multiply and divide the two variable above by one another. Print the output of each operation.

In [45]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

44.0
36.0
160.0
10.0

Now, *a* is a *float* and *b* is an *integer*. Divide them by one another to get an *integer*. (Hint: a / b won't work. and "/" is different from "//" )

In [46]:
c=int(a/b)
print(c)
print(int(a/b))

10
10

Let's now move onto **strings**. Create two strings, one with the text *Hello* and the other with *World*. Print them.

In [47]:
str1= "Hello"
str2= "World"
print(str1)
print(str2)

Hello
World

Sum the strings above to obtain *Hello, World!*. Print the result.

In [48]:
print(str1+","+str2+"!")

Hello,World!

### Exercise 2: Lists

Create a list including *a*, *b*, and *"Hello, World!"*. Print the entire list and its third element separately. (Hint = the index of the first element in Python is 0)

In [49]:
list1=[a,b,str1+","+str2+"!"]
print(list1)
print(list1[2])

[40.0, 4, 'Hello,World!']
Hello,World!

Remove the element that is not a number, and replace it with an *int*.

In [50]:
list1.pop(2)
print(list1)
d=5.0
list1.append(int(d))
print(list1)

[40.0, 4]
[40.0, 4, 5]

Print the length of the list defined above.

In [51]:
print(len(list1))

3

### Exercise 3: Tuples, sets and dictionaries

Create a tuple and a dictionary including a, b, and *"Hello, World!".

In [109]:
tup1 = (a,b,str1+","+str2+"!")
dic1 = {'1': a, '2': b,'3':str1+","+str2+"!"}
print(tup1)
print(dic1)

(40.0, 4, 'Hello,World!')
{'1': 40.0, '2': 4, '3': 'Hello,World!'}


Add another *int* to the tuple.

In [110]:
tup2=tup1+(7,)
print(tup2)

(40.0, 4, 'Hello,World!', 7)

Print the value associated to the first key of the dictionary defined above.

In [112]:
print(dic1['1'])

40.0

### Exercise 4: Functions and logical statements

Create a function that takes an *int*, a *float* and a *string* as inputs and returns a list containing the three of them.

In [131]:
x=3
y=5.1
z="hi"
t=[x,y,z]
def func_1(t): print(t)
func_1(t)

[3, 5.1, 'hi']

Use a lambda function to create the achieve the same result.

In [144]:
l = lambda x, y, z : [x,y,z]
print(l(3,5.1,"hi"))

[3, 5.1, 'hi']

Let's move into something slightly more involving. This function checks the type of the input.

In [129]:
def func_2(x):
    if type(x) == int:
        print(f"{x} is an integer")
    elif type(x) == float:
        print(f"{x} is a float")

Notice that the function only checks if the input is an *int* or a *float*. Add an extra condition to check if the input is a *string*

In [149]:
def func_2(x):
    if type(x) == int:
        print(f"{x} is an integer")
    elif type(x) == float:
        print(f"{x} is a float")
    elif type(x) == str:
        print(f"{x} is a string")
        
func_2(3)
func_2(3.1)
func_2("d")

3 is an integer
3.1 is a float
d is a string

### Exercise 5: For and While Loops

Python allows you to loop over several type of objects. A simple loop looks like

In [34]:
for x in range(10):
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

Modify the script above to loop over a list containing both numbers (*int* and/or *float*) and *string*. Print the type of the input at each iteration.

In [139]:
list1= [0,1,2.5,"hola"]
for x in list1:
    print(x,end=" ")

0 1 2.5 hola

The next chunk of code fills in an empty list with a sequence of integers.

In [41]:
list_1 = []

for i in range(10):
    list_1.append(i)
    
print(list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Produce the same result using a while loop instead (Hint: create a new list, call it *list_2*. Make sure to update the counter at each iteration of the loop).

In [143]:
list_2=[]
i = 0
while i < 10:
  list_2.append(i)
  i += 1
    
print(list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]