# Exercises For Session 3

Enter your answers in the preallocated empty cells.

### Exercise 1: Variables, Numbers and Strings

You have a variable of type *int* and another one of type *float*.

In [ ]:
a = 40
b = 4.0
print(type(a))
print(type(b))

Convert the integer *a* to a *float*, and viceversa.

Sum, subtract, multiply and divide the two variable above by one another. Print the output of each operation.

Now, *a* is a *float* and *b* is an *integer*. Divide them by one another to get an *integer*. (Hint: a / b won't work. and "/" is different from "//" )

Let's now move onto **strings**. Create two strings, one with the text *Hello* and the other with *World*. Print them.

Sum the strings above to obtain *Hello, World!*. Print the result.

### Exercise 2: Lists

Create a list including *a*, *b*, and *"Hello, World!"*. Print the entire list and its third element separately. (Hint = the index of the first element in Python is 0)

Remove the element that is not a number, and replace it with an *int*.

Print the length of the list defined above.

### Exercise 3: Tuples, sets and dictionaries

Create a tuple and a dictionary including a, b, and *"Hello, World!".


Add another *int* to the tuple.

Print the value associated to the first key of the dictionary defined above.

### Exercise 4: Functions and logical statements

Create a function that takes an *int*, a *float* and a *string* as inputs and returns a list containing the three of them.

Use a lambda function to create the achieve the same result.

Let's move into something slightly more involving. This function checks the type of the input.

In [50]:
def func_2(x):
    if type(x) == int:
        print(f"{x} is an integer")
    elif type(x) == float:
        print(f"{x} is a float")

Notice that the function only checks if the input is an *int* or a *float*. Add an extra condition to check if the input is a *string*

### Exercise 5: For and While Loops

Python allows you to loop over several type of objects. A simple loop looks like

In [34]:
for x in range(10):
    print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

Modify the script above to loop over a list containing both numbers (*int* and/or *float*) and *string*. Print the type of the input at each iteration.

The next chunk of code fills in an empty list with a sequence of integers.

In [41]:
list_1 = []

for i in range(10):
    list_1.append(i)
    
print(list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Produce the same result using a while loop instead (Hint: create a new list, call it *list_2*. Make sure to update the counter at each iteration of the loop).