In [18]:
! pip install qeds
import pandas as pd
import numpy as np
!pip install pyarrow
import pyarrow.feather

Requirement already satisfied: qeds in c:\users\asus\anaconda3\lib\site-packages (0.6.2)
Requirement already satisfied: pyarrow in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.16.0)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from qeds) (1.3.1)
Requirement already satisfied: openpyxl in c:\users\asus\anaconda3\lib\site-packages (from qeds) (3.0.0)
Requirement already satisfied: plotly in c:\users\asus\anaconda3\lib\site-packages (from qeds) (4.5.4)
Requirement already satisfied: statsmodels in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.10.1)
Requirement already satisfied: pandas-datareader in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.8.1)
Requirement already satisfied: quandl in c:\users\asus\anaconda3\lib\site-packages (from qeds) (3.5.0)
Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (from qeds) (2.22.0)
Requirement already satisfied: seaborn in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.9.0)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from qeds) (1.16.5)
Requirement already satisfied: scikit-learn in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.21.3)
Requirement already satisfied: quantecon in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.4.6)
Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.25.1)
Requirement already satisfied: matplotlib in c:\users\asus\anaconda3\lib\site-packages (from qeds) (3.1.1)
Requirement already satisfied: six>=1.0.0 in c:\users\asus\anaconda3\lib\site-packages (from pyarrow->qeds) (1.12.0)
Requirement already satisfied: jdcal in c:\users\asus\anaconda3\lib\site-packages (from openpyxl->qeds) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\asus\anaconda3\lib\site-packages (from openpyxl->qeds) (1.0.1)
Requirement already satisfied: retrying>=1.3.3 in c:\users\asus\anaconda3\lib\site-packages (from plotly->qeds) (1.3.3)
Requirement already satisfied: patsy>=0.4.0 in c:\users\asus\anaconda3\lib\site-packages (from statsmodels->qeds) (0.5.1)
Requirement already satisfied: lxml in c:\users\asus\anaconda3\lib\site-packages (from pandas-datareader->qeds) (4.4.1)
Requirement already satisfied: python-dateutil in c:\users\asus\anaconda3\lib\site-packages (from quandl->qeds) (2.8.0)
Requirement already satisfied: more-itertools in c:\users\asus\anaconda3\lib\site-packages (from quandl->qeds) (7.2.0)
Requirement already satisfied: inflection>=0.3.1 in c:\users\asus\anaconda3\lib\site-packages (from quandl->qeds) (0.3.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (2.8)
Requirement already satisfied: joblib>=0.11 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn->qeds) (0.13.2)
Requirement already satisfied: sympy in c:\users\asus\anaconda3\lib\site-packages (from quantecon->qeds) (1.4)
Requirement already satisfied: numba>=0.38 in c:\users\asus\anaconda3\lib\site-packages (from quantecon->qeds) (0.45.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas->qeds) (2019.3)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->qeds) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->qeds) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->qeds) (2.4.2)
Requirement already satisfied: mpmath>=0.19 in c:\users\asus\anaconda3\lib\site-packages (from sympy->quantecon->qeds) (1.1.0)
Requirement already satisfied: llvmlite>=0.29.0dev0 in c:\users\asus\anaconda3\lib\site-packages (from numba>=0.38->quantecon->qeds) (0.29.0)
Requirement already satisfied: setuptools in c:\users\asus\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->qeds) (41.4.0)
Requirement already satisfied: pyarrow in c:\users\asus\anaconda3\lib\site-packages (0.16.0)
Requirement already satisfied: six>=1.0.0 in c:\users\asus\anaconda3\lib\site-packages (from pyarrow) (1.12.0)
Requirement already satisfied: numpy>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from pyarrow) (1.16.5)

# Storage Formats - Exercises

## Exercise 1

**In the cell below, the variable `url` contains a web address to a csv file containing the result of all NFL games from September 1920 to February 2017.**

1. **Use `pd.read_csv` to read this file into a DataFrame named `nfl`.**

In [19]:
url = "https://raw.githubusercontent.com/fivethirtyeight/nfl-elo-game/"
url = url + "3488b7d0b46c5f6583679bc40fb3a42d729abd39/data/nfl_games.csv"

nfl = pd.read_csv(url, index_col=0)
nfl

,season,neutral,playoff,team1,team2,elo1,elo2,elo_prob1,score1,score2,result1
date,,,,,,,,,,,
1920-09-26,1920,0,0,RII,STP,1503.947000,1300.000000,0.824651,48,0,1.0
1920-10-03,1920,0,0,AKR,WHE,1503.420000,1300.000000,0.824212,43,0,1.0
1920-10-03,1920,0,0,RCH,ABU,1503.420000,1300.000000,0.824212,10,0,1.0
1920-10-03,1920,0,0,DAY,COL,1493.002000,1504.908000,0.575819,14,0,1.0
1920-10-03,1920,0,0,RII,MUN,1516.108000,1478.004000,0.644171,45,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
2017-01-15,2016,0,1,DAL,GB,1617.794683,1635.451172,0.567714,31,34,0.0
2017-01-15,2016,0,1,KC,PIT,1681.926463,1647.734179,0.638993,16,18,0.0
2017-01-22,2016,0,1,ATL,GB,1664.127266,1651.537731,0.609840,44,21,1.0
2017-01-22,2016,0,1,NE,PIT,1747.160321,1662.437215,0.703052,36,17,1.0
2017-02-05,2016,1,1,ATL,NE,1688.081418,1763.818168,0.392700,28,34,0.0

2. **Print the shape and column names of `nfl`.**

In [20]:
print("nfl.shape=",nfl.shape)
print(nfl.columns)

nfl.shape= (15740, 11)
Index(['season', 'neutral', 'playoff', 'team1', 'team2', 'elo1', 'elo2',
       'elo_prob1', 'score1', 'score2', 'result1'],
      dtype='object')

3. **Save the DataFrame to a file named `nfl.xlsx`**

In [21]:
nfl.to_excel("nfl.xlsx", "nfl")

4. **Open the spreadsheet using Excel on your computer.**

## Exercise 2

1. **Compute the average total points in each game (note, you will need to sum two of the columns to get total points).**

In [22]:
#we compute the total points as score1 + score 2, then we take the average
nfl["total_points"] = nfl["score1"]+nfl["score2"]
nfl["total_points"].mean()

39.95368487928844

2. **Repeat the above calculation, but only for playoff games.**

In [23]:
#here we compute the average total points for the subset corresponding to playoff games
nfl["total_points"][nfl["playoff"]==1].mean()

42.70404411764706

3. **Compute the average score for your favorite team (you’ll need to consider when they were team1 vs team2).**

In [24]:
#I don't have a smarter solution

#in order to get the average for AKR:
    #I sum the total points obtained by AKR either as team1 or team2
    #I sum the total number of games of AKR either as team1 or team2
    #then I divide the total points by the total number of games

sum_teams12   = nfl["total_points"][nfl["team1"]=="AKR"].sum()   + nfl["total_points"][nfl["team2"]=="AKR"].sum()
count_teams12 = nfl["total_points"][nfl["team1"]=="AKR"].count() + nfl["total_points"][nfl["team2"]=="AKR"].count()
average = sum_teams12/count_teams12
average

17.125

4. **Compute the ratio of “upsets” to total games played. An upset is defined as a team with a lower ELO winning the game.**

In [25]:
#for all the matches 
nfl.loc[((nfl['elo1']>nfl['elo2']) & (nfl['result1']==0)) | ((nfl['elo2']>nfl['elo1']) & (nfl['result1']==1))  , 'Upset?' ] =1 
nfl.loc[(nfl['Upset?']!=1), 'Upset?']=0
nfl['Upset?'].mean()

0.34358322744599745

In [26]:
#only for the matches of AKR (as team1)
nfl.loc[((nfl['elo1']>nfl['elo2']) & (nfl['result1']==0)) | ((nfl['elo2']>nfl['elo1']) & (nfl['result1']==1))  , 'Upset?' ] =1 
nfl.loc[(nfl['Upset?']!=1), 'Upset?']=0
nfl['Upset?'][nfl["team1"] == "AKR"].mean()

0.21739130434782608