In [2]:
! pip install qeds
import numpy as np
import pandas as pd
%matplotlib inline
import qeds
qeds.themes.mpl_style();

Requirement already satisfied: qeds in c:\users\asus\anaconda3\lib\site-packages (0.6.2)
Requirement already satisfied: quandl in c:\users\asus\anaconda3\lib\site-packages (from qeds) (3.5.0)
Requirement already satisfied: pandas-datareader in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.8.1)
Requirement already satisfied: openpyxl in c:\users\asus\anaconda3\lib\site-packages (from qeds) (3.0.0)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from qeds) (1.16.5)
Requirement already satisfied: quantecon in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.4.6)
Requirement already satisfied: scikit-learn in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.21.3)
Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.25.1)
Requirement already satisfied: plotly in c:\users\asus\anaconda3\lib\site-packages (from qeds) (4.5.4)
Requirement already satisfied: seaborn in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.9.0)
Requirement already satisfied: statsmodels in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.10.1)
Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (from qeds) (2.22.0)
Requirement already satisfied: matplotlib in c:\users\asus\anaconda3\lib\site-packages (from qeds) (3.1.1)
Requirement already satisfied: pyarrow in c:\users\asus\anaconda3\lib\site-packages (from qeds) (0.16.0)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from qeds) (1.3.1)
Requirement already satisfied: inflection>=0.3.1 in c:\users\asus\anaconda3\lib\site-packages (from quandl->qeds) (0.3.1)
Requirement already satisfied: six in c:\users\asus\anaconda3\lib\site-packages (from quandl->qeds) (1.12.0)
Requirement already satisfied: more-itertools in c:\users\asus\anaconda3\lib\site-packages (from quandl->qeds) (7.2.0)
Requirement already satisfied: python-dateutil in c:\users\asus\anaconda3\lib\site-packages (from quandl->qeds) (2.8.0)
Requirement already satisfied: lxml in c:\users\asus\anaconda3\lib\site-packages (from pandas-datareader->qeds) (4.4.1)
Requirement already satisfied: jdcal in c:\users\asus\anaconda3\lib\site-packages (from openpyxl->qeds) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\asus\anaconda3\lib\site-packages (from openpyxl->qeds) (1.0.1)
Requirement already satisfied: numba>=0.38 in c:\users\asus\anaconda3\lib\site-packages (from quantecon->qeds) (0.45.1)
Requirement already satisfied: sympy in c:\users\asus\anaconda3\lib\site-packages (from quantecon->qeds) (1.4)
Requirement already satisfied: joblib>=0.11 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn->qeds) (0.13.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas->qeds) (2019.3)
Requirement already satisfied: retrying>=1.3.3 in c:\users\asus\anaconda3\lib\site-packages (from plotly->qeds) (1.3.3)
Requirement already satisfied: patsy>=0.4.0 in c:\users\asus\anaconda3\lib\site-packages (from statsmodels->qeds) (0.5.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests->qeds) (2019.9.11)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->qeds) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->qeds) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib->qeds) (2.4.2)
Requirement already satisfied: llvmlite>=0.29.0dev0 in c:\users\asus\anaconda3\lib\site-packages (from numba>=0.38->quantecon->qeds) (0.29.0)
Requirement already satisfied: mpmath>=0.19 in c:\users\asus\anaconda3\lib\site-packages (from sympy->quantecon->qeds) (1.1.0)
Requirement already satisfied: setuptools in c:\users\asus\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->qeds) (41.4.0)

# Reshape - Exercises

**For these exercises we use basketball data. After loading the data:**
- we create a long-form version
- we create a wide-form version

In [3]:
url = "https://datascience.quantecon.org/assets/data/bball.csv"
bball = pd.read_csv(url)
bball.head()

   Year  Player Team  TeamName  Games   Pts  Assist  Rebound
0  2015   Curry  GSW  Warriors     79  30.1     6.7      5.4
1  2016   Curry  GSW  Warriors     79  25.3     6.6      4.5
2  2017   Curry  GSW  Warriors     51  26.4     6.1      5.1
3  2015  Durant  OKC   Thunder     72  28.2     5.0      8.2
4  2016  Durant  GSW  Warriors     62  25.1     4.8      8.3

In [4]:
bball_long = bball.melt(id_vars=["Year", "Player", "Team", "TeamName"])
bball_long.head()

   Year  Player Team  TeamName variable  value
0  2015   Curry  GSW  Warriors    Games   79.0
1  2016   Curry  GSW  Warriors    Games   79.0
2  2017   Curry  GSW  Warriors    Games   51.0
3  2015  Durant  OKC   Thunder    Games   72.0
4  2016  Durant  GSW  Warriors    Games   62.0

In [5]:
bball_wide = bball_long.pivot_table(
    index="Year",
    columns=["Player", "variable", "Team"],
    values="value"
)
bball_wide.head()

Player    Curry                     Durant                               ...  \
variable Assist Games   Pts Rebound Assist      Games         Pts        ...
Team        GSW   GSW   GSW     GSW    GSW  OKC   GSW   OKC   GSW   OKC  ...
Year                                                                     ...
2015        6.7  79.0  30.1     5.4    NaN  5.0   NaN  72.0   NaN  28.2  ...
2016        6.6  79.0  25.3     4.5    4.8  NaN  62.0   NaN  25.1   NaN  ...
2017        6.1  51.0  26.4     5.1    5.4  NaN  68.0   NaN  26.4   NaN  ...

Player    Ibaka
variable Assist Games               Pts             Rebound
Team        TOR   OKC   ORL   TOR   OKC   ORL   TOR     OKC  ORL  TOR
Year
2015        NaN  78.0   NaN   NaN  12.6   NaN   NaN     6.8  NaN  NaN
2016        0.7   NaN  56.0  23.0   NaN  15.1  14.2     NaN  6.8  6.8
2017        NaN   NaN   NaN   NaN   NaN   NaN   NaN     NaN  NaN  NaN

[3 rows x 24 columns]

## Exercise 1

**(*Warning*: This one is challenging):**

**Recall the `bball_wide` DataFrame from above (repeated below to jog your memory).**

**In this task, you will start from `ball` and re-recreate `bball_wide` by combining the operations we just learned about. There are many ways to do this, so be creative.**

**The solution presented in the lecture used `set_index`, `T`, `stack`, and `unstack` in that order.**

**Here are a few hints:**

- Think about what columns you will need to call `set_index` on so that their data ends up as labels (either in index or columns).  
- Leave other columns (e.g. the actual game stats) as actual columns so their data can stay data during your reshaping.  

**Hint**: You might need to add `.sort_index(axis=1)` after you are finished to get the columns in the same order.

**Hint**: You may not end up with a `variable` header on the second level of column labels. This is ok.

In [6]:
#we have to recreate this DataFrame in a different way
bball_wide

Player    Curry                     Durant                               ...  \
variable Assist Games   Pts Rebound Assist      Games         Pts        ...
Team        GSW   GSW   GSW     GSW    GSW  OKC   GSW   OKC   GSW   OKC  ...
Year                                                                     ...
2015        6.7  79.0  30.1     5.4    NaN  5.0   NaN  72.0   NaN  28.2  ...
2016        6.6  79.0  25.3     4.5    4.8  NaN  62.0   NaN  25.1   NaN  ...
2017        6.1  51.0  26.4     5.1    5.4  NaN  68.0   NaN  26.4   NaN  ...

Player    Ibaka
variable Assist Games               Pts             Rebound
Team        TOR   OKC   ORL   TOR   OKC   ORL   TOR     OKC  ORL  TOR
Year
2015        NaN  78.0   NaN   NaN  12.6   NaN   NaN     6.8  NaN  NaN
2016        0.7   NaN  56.0  23.0   NaN  15.1  14.2     NaN  6.8  6.8
2017        NaN   NaN   NaN   NaN   NaN   NaN   NaN     NaN  NaN  NaN

[3 rows x 24 columns]

In [7]:
bball.drop("TeamName", axis=1).set_index(["Year", "Player", "Team"]).stack().unstack(level=[1, 3, 2]).sort_index(axis=1)

Player  Curry                     Durant                               ...  \
       Assist Games   Pts Rebound Assist      Games         Pts        ...
Team      GSW   GSW   GSW     GSW    GSW  OKC   GSW   OKC   GSW   OKC  ...
Year                                                                   ...
2015      6.7  79.0  30.1     5.4    NaN  5.0   NaN  72.0   NaN  28.2  ...
2016      6.6  79.0  25.3     4.5    4.8  NaN  62.0   NaN  25.1   NaN  ...
2017      6.1  51.0  26.4     5.1    5.4  NaN  68.0   NaN  26.4   NaN  ...

Player  Ibaka
       Assist Games               Pts             Rebound
Team      TOR   OKC   ORL   TOR   OKC   ORL   TOR     OKC  ORL  TOR
Year
2015      NaN  78.0   NaN   NaN  12.6   NaN   NaN     6.8  NaN  NaN
2016      0.7   NaN  56.0  23.0   NaN  15.1  14.2     NaN  6.8  6.8
2017      NaN   NaN   NaN   NaN   NaN   NaN   NaN     NaN  NaN  NaN

[3 rows x 24 columns]

**(Tentative) explanation of the code:**

In [8]:
# '.drop("TeamName", axis=1)' drops the columns (axis=1) TeamName, Avoid to have a useless (maybe akward ?) variable in the final dataset
bball.drop("TeamName", axis=1)

   Year  Player Team  Games   Pts  Assist  Rebound
0  2015   Curry  GSW     79  30.1     6.7      5.4
1  2016   Curry  GSW     79  25.3     6.6      4.5
2  2017   Curry  GSW     51  26.4     6.1      5.1
3  2015  Durant  OKC     72  28.2     5.0      8.2
4  2016  Durant  GSW     62  25.1     4.8      8.3
5  2017  Durant  GSW     68  26.4     5.4      6.8
6  2015   Ibaka  OKC     78  12.6     0.8      6.8
7  2016   Ibaka  ORL     56  15.1     1.1      6.8
8  2016   Ibaka  TOR     23  14.2     0.7      6.8

In [9]:
# set_index(["Year", "Player", "Team"]) sets multindex, the hierarchy is Year > Player > Team. This is necessary if we want to stack the data (ie group and 'stack'), with each component of the stack corresponding to the values in a given year of a player in a given team
bball.drop("TeamName", axis=1).set_index(["Year", "Player", "Team"])

                  Games   Pts  Assist  Rebound
Year Player Team
2015 Curry  GSW      79  30.1     6.7      5.4
2016 Curry  GSW      79  25.3     6.6      4.5
2017 Curry  GSW      51  26.4     6.1      5.1
2015 Durant OKC      72  28.2     5.0      8.2
2016 Durant GSW      62  25.1     4.8      8.3
2017 Durant GSW      68  26.4     5.4      6.8
2015 Ibaka  OKC      78  12.6     0.8      6.8
2016 Ibaka  ORL      56  15.1     1.1      6.8
            TOR      23  14.2     0.7      6.8

In [10]:
# stack stacks the data for each YEAR, PLAYER, TEAM triple. the outcome is a 'stack', each component of this stack being a table of the value of all the variables (ie non index) for a given combination of the indexes.
bball.drop("TeamName", axis=1).set_index(["Year", "Player", "Team"]).stack()

Year  Player  Team
2015  Curry   GSW   Games      79.0
                    Pts        30.1
                    Assist      6.7
                    Rebound     5.4
2016  Curry   GSW   Games      79.0
                    Pts        25.3
                    Assist      6.6
                    Rebound     4.5
2017  Curry   GSW   Games      51.0
                    Pts        26.4
                    Assist      6.1
                    Rebound     5.1
2015  Durant  OKC   Games      72.0
                    Pts        28.2
                    Assist      5.0
                    Rebound     8.2
2016  Durant  GSW   Games      62.0
                    Pts        25.1
                    Assist      4.8
                    Rebound     8.3
2017  Durant  GSW   Games      68.0
                    Pts        26.4
                    Assist      5.4
                    Rebound     6.8
2015  Ibaka   OKC   Games      78.0
                    Pts        12.6
                    Assist      0.8
                    Rebound     6.8
2016  Ibaka   ORL   Games      56.0
                    Pts        15.1
                    Assist      1.1
                    Rebound     6.8
              TOR   Games      23.0
                    Pts        14.2
                    Assist      0.7
                    Rebound     6.8
dtype: float64

In [11]:
# An intuitive idea to explain that ?
bball.drop("TeamName", axis=1).set_index(["Year", "Player", "Team"]).stack().unstack(level=[1,3,2])

Player Curry                      Durant                                   \
       Games   Pts Assist Rebound  Games   Pts Assist Rebound Games   Pts
Team     GSW   GSW    GSW     GSW    OKC   OKC    OKC     OKC   GSW   GSW
Year
2015    79.0  30.1    6.7     5.4   72.0  28.2    5.0     8.2   NaN   NaN
2016    79.0  25.3    6.6     4.5    NaN   NaN    NaN     NaN  62.0  25.1
2017    51.0  26.4    6.1     5.1    NaN   NaN    NaN     NaN  68.0  26.4

Player  ...  Ibaka                                                        \
        ... Assist Rebound Games   Pts Assist Rebound Games   Pts Assist
Team    ...    OKC     OKC   ORL   ORL    ORL     ORL   TOR   TOR    TOR
Year    ...
2015    ...    0.8     6.8   NaN   NaN    NaN     NaN   NaN   NaN    NaN
2016    ...    NaN     NaN  56.0  15.1    1.1     6.8  23.0  14.2    0.7
2017    ...    NaN     NaN   NaN   NaN    NaN     NaN   NaN   NaN    NaN

Player
       Rebound
Team       TOR
Year
2015       NaN
2016       6.8
2017       NaN

[3 rows x 24 columns]

In [12]:
# sort_index(axis=1) sort the variables in the alphabetical order. Changes the order of the columns variable only
bball.drop("TeamName", axis=1).set_index(["Year", "Player", "Team"]).stack().unstack(level=[1,3,2]).sort_index(axis=1)

Player  Curry                     Durant                               ...  \
       Assist Games   Pts Rebound Assist      Games         Pts        ...
Team      GSW   GSW   GSW     GSW    GSW  OKC   GSW   OKC   GSW   OKC  ...
Year                                                                   ...
2015      6.7  79.0  30.1     5.4    NaN  5.0   NaN  72.0   NaN  28.2  ...
2016      6.6  79.0  25.3     4.5    4.8  NaN  62.0   NaN  25.1   NaN  ...
2017      6.1  51.0  26.4     5.1    5.4  NaN  68.0   NaN  26.4   NaN  ...

Player  Ibaka
       Assist Games               Pts             Rebound
Team      TOR   OKC   ORL   TOR   OKC   ORL   TOR     OKC  ORL  TOR
Year
2015      NaN  78.0   NaN   NaN  12.6   NaN   NaN     6.8  NaN  NaN
2016      0.7   NaN  56.0  23.0   NaN  15.1  14.2     NaN  6.8  6.8
2017      NaN   NaN   NaN   NaN   NaN   NaN   NaN     NaN  NaN  NaN

[3 rows x 24 columns]

## Exercise 2

1. **What do you think would happen if we wrote `bball.melt(id_vars=["Year", "Player"])` rather than `bball.melt(id_vars=["Year", "Player", "Team", "TeamName"])`? Were you right? Write your thoughts.**

In [13]:
# for bball.melt(id_vars=["Year", "Player"]) we would get only the columns Year and Player and all the other columns 
# would be put into two new columns: variable (Team, Teamname, etc) and values (the values associated with each)

# for bball.melt(id_vars=["Year", "Player", "Team", "TeamName"]) we would get the columns Year, Player, Team and Teamname
# and all the remaining columns will be put into two new columns: variable and values

In [14]:
bball.melt(id_vars=["Year", "Player"])

    Year  Player  variable     value
0   2015   Curry      Team       GSW
1   2016   Curry      Team       GSW
2   2017   Curry      Team       GSW
3   2015  Durant      Team       OKC
4   2016  Durant      Team       GSW
5   2017  Durant      Team       GSW
6   2015   Ibaka      Team       OKC
7   2016   Ibaka      Team       ORL
8   2016   Ibaka      Team       TOR
9   2015   Curry  TeamName  Warriors
10  2016   Curry  TeamName  Warriors
11  2017   Curry  TeamName  Warriors
12  2015  Durant  TeamName   Thunder
13  2016  Durant  TeamName  Warriors
14  2017  Durant  TeamName  Warriors
15  2015   Ibaka  TeamName   Thunder
16  2016   Ibaka  TeamName     Magic
17  2016   Ibaka  TeamName   Raptors
18  2015   Curry     Games        79
19  2016   Curry     Games        79
20  2017   Curry     Games        51
21  2015  Durant     Games        72
22  2016  Durant     Games        62
23  2017  Durant     Games        68
24  2015   Ibaka     Games        78
25  2016   Ibaka     Games        56
26  2016   Ibaka     Games        23
27  2015   Curry       Pts      30.1
28  2016   Curry       Pts      25.3
29  2017   Curry       Pts      26.4
30  2015  Durant       Pts      28.2
31  2016  Durant       Pts      25.1
32  2017  Durant       Pts      26.4
33  2015   Ibaka       Pts      12.6
34  2016   Ibaka       Pts      15.1
35  2016   Ibaka       Pts      14.2
36  2015   Curry    Assist       6.7
37  2016   Curry    Assist       6.6
38  2017   Curry    Assist       6.1
39  2015  Durant    Assist         5
40  2016  Durant    Assist       4.8
41  2017  Durant    Assist       5.4
42  2015   Ibaka    Assist       0.8
43  2016   Ibaka    Assist       1.1
44  2016   Ibaka    Assist       0.7
45  2015   Curry   Rebound       5.4
46  2016   Curry   Rebound       4.5
47  2017   Curry   Rebound       5.1
48  2015  Durant   Rebound       8.2
49  2016  Durant   Rebound       8.3
50  2017  Durant   Rebound       6.8
51  2015   Ibaka   Rebound       6.8
52  2016   Ibaka   Rebound       6.8
53  2016   Ibaka   Rebound       6.8

In [15]:
bball.melt(id_vars=["Year", "Player", "Team", "TeamName"])

    Year  Player Team  TeamName variable  value
0   2015   Curry  GSW  Warriors    Games   79.0
1   2016   Curry  GSW  Warriors    Games   79.0
2   2017   Curry  GSW  Warriors    Games   51.0
3   2015  Durant  OKC   Thunder    Games   72.0
4   2016  Durant  GSW  Warriors    Games   62.0
5   2017  Durant  GSW  Warriors    Games   68.0
6   2015   Ibaka  OKC   Thunder    Games   78.0
7   2016   Ibaka  ORL     Magic    Games   56.0
8   2016   Ibaka  TOR   Raptors    Games   23.0
9   2015   Curry  GSW  Warriors      Pts   30.1
10  2016   Curry  GSW  Warriors      Pts   25.3
11  2017   Curry  GSW  Warriors      Pts   26.4
12  2015  Durant  OKC   Thunder      Pts   28.2
13  2016  Durant  GSW  Warriors      Pts   25.1
14  2017  Durant  GSW  Warriors      Pts   26.4
15  2015   Ibaka  OKC   Thunder      Pts   12.6
16  2016   Ibaka  ORL     Magic      Pts   15.1
17  2016   Ibaka  TOR   Raptors      Pts   14.2
18  2015   Curry  GSW  Warriors   Assist    6.7
19  2016   Curry  GSW  Warriors   Assist    6.6
20  2017   Curry  GSW  Warriors   Assist    6.1
21  2015  Durant  OKC   Thunder   Assist    5.0
22  2016  Durant  GSW  Warriors   Assist    4.8
23  2017  Durant  GSW  Warriors   Assist    5.4
24  2015   Ibaka  OKC   Thunder   Assist    0.8
25  2016   Ibaka  ORL     Magic   Assist    1.1
26  2016   Ibaka  TOR   Raptors   Assist    0.7
27  2015   Curry  GSW  Warriors  Rebound    5.4
28  2016   Curry  GSW  Warriors  Rebound    4.5
29  2017   Curry  GSW  Warriors  Rebound    5.1
30  2015  Durant  OKC   Thunder  Rebound    8.2
31  2016  Durant  GSW  Warriors  Rebound    8.3
32  2017  Durant  GSW  Warriors  Rebound    6.8
33  2015   Ibaka  OKC   Thunder  Rebound    6.8
34  2016   Ibaka  ORL     Magic  Rebound    6.8
35  2016   Ibaka  TOR   Raptors  Rebound    6.8

2. **Read the documentation and focus on the argument `value_vars`. How does `bball.melt(id_vars=["Year", "Player"], value_vars=["Pts", "Rebound"])` differ from `bball.melt(id_vars=["Year", "Player"])`?**

In [16]:
bball.melt(id_vars=["Year", "Player"], value_vars=["Pts", "Rebound"])

    Year  Player variable  value
0   2015   Curry      Pts   30.1
1   2016   Curry      Pts   25.3
2   2017   Curry      Pts   26.4
3   2015  Durant      Pts   28.2
4   2016  Durant      Pts   25.1
5   2017  Durant      Pts   26.4
6   2015   Ibaka      Pts   12.6
7   2016   Ibaka      Pts   15.1
8   2016   Ibaka      Pts   14.2
9   2015   Curry  Rebound    5.4
10  2016   Curry  Rebound    4.5
11  2017   Curry  Rebound    5.1
12  2015  Durant  Rebound    8.2
13  2016  Durant  Rebound    8.3
14  2017  Durant  Rebound    6.8
15  2015   Ibaka  Rebound    6.8
16  2016   Ibaka  Rebound    6.8
17  2016   Ibaka  Rebound    6.8

In [17]:
bball.melt(id_vars=["Year", "Player"])

    Year  Player  variable     value
0   2015   Curry      Team       GSW
1   2016   Curry      Team       GSW
2   2017   Curry      Team       GSW
3   2015  Durant      Team       OKC
4   2016  Durant      Team       GSW
5   2017  Durant      Team       GSW
6   2015   Ibaka      Team       OKC
7   2016   Ibaka      Team       ORL
8   2016   Ibaka      Team       TOR
9   2015   Curry  TeamName  Warriors
10  2016   Curry  TeamName  Warriors
11  2017   Curry  TeamName  Warriors
12  2015  Durant  TeamName   Thunder
13  2016  Durant  TeamName  Warriors
14  2017  Durant  TeamName  Warriors
15  2015   Ibaka  TeamName   Thunder
16  2016   Ibaka  TeamName     Magic
17  2016   Ibaka  TeamName   Raptors
18  2015   Curry     Games        79
19  2016   Curry     Games        79
20  2017   Curry     Games        51
21  2015  Durant     Games        72
22  2016  Durant     Games        62
23  2017  Durant     Games        68
24  2015   Ibaka     Games        78
25  2016   Ibaka     Games        56
26  2016   Ibaka     Games        23
27  2015   Curry       Pts      30.1
28  2016   Curry       Pts      25.3
29  2017   Curry       Pts      26.4
30  2015  Durant       Pts      28.2
31  2016  Durant       Pts      25.1
32  2017  Durant       Pts      26.4
33  2015   Ibaka       Pts      12.6
34  2016   Ibaka       Pts      15.1
35  2016   Ibaka       Pts      14.2
36  2015   Curry    Assist       6.7
37  2016   Curry    Assist       6.6
38  2017   Curry    Assist       6.1
39  2015  Durant    Assist         5
40  2016  Durant    Assist       4.8
41  2017  Durant    Assist       5.4
42  2015   Ibaka    Assist       0.8
43  2016   Ibaka    Assist       1.1
44  2016   Ibaka    Assist       0.7
45  2015   Curry   Rebound       5.4
46  2016   Curry   Rebound       4.5
47  2017   Curry   Rebound       5.1
48  2015  Durant   Rebound       8.2
49  2016  Durant   Rebound       8.3
50  2017  Durant   Rebound       6.8
51  2015   Ibaka   Rebound       6.8
52  2016   Ibaka   Rebound       6.8
53  2016   Ibaka   Rebound       6.8

In [18]:
# for bball.melt(id_vars=["Year", "Player"], value_vars=["Pts", "Rebound"]), while we keep the columns Year and Player as
# before, we also indicate which of the remaining columns to be considered in the two new column

# thus, variable will only get Pts and Rebound from the remaining columns and values will take the values associated

3. **Consider the differences between `bball.stack` and `bball.melt`. Is there a way to make them generate the same output?  Write your thoughts.**
  - Hint: you might need to use both `stack` and another method from above

In [19]:
# bball.stack() also gives as results something similar to variables and values associated, but we don't have regular columns
# plus we don't have an index 

bball.stack().reset_index().drop("level_0", axis=1).rename(columns={"level_1":"variable", 0: "value"})
#bball.melt()

    variable     value
0       Year      2015
1     Player     Curry
2       Team       GSW
3   TeamName  Warriors
4      Games        79
..       ...       ...
67  TeamName   Raptors
68     Games        23
69       Pts      14.2
70    Assist       0.7
71   Rebound       6.8

[72 rows x 2 columns]

## Exercise 3

1. **Can you think of a reason to ever use `pivot` rather than `pivot_table`? Write your thoughts.**

Why use pivot rather than pivot_table ? \
Reminders: 
- The pivot method:
    - takes the unique values of one column and places them along the index.
    - Takes the unique values of another column and places them along the columns.
    - Takes the values that correpsond to a third column and fills in the DataFrame values that correspond to that index / column pair
- The pivot_table method:
    - It allows you to choose multiple columns for the index/columns/values
  arguments.
    - It allows you to deal with duplicate entries by
  having you choose how to combine them.  
  
pivot_table deals with non-unique values. This can be risky for instance here, it would aggregate the two different values for (IBAKA 2016) in a probably wrong way. For instance, if the aggregator is a mean, the two part of the season in which IBAKA played for different team would be given the same weight, which is probably not the case IRL.

2. **Create a pivot table with column `Player` as the index, `TeamName` as the columns, and `[Rebound, Assist]` as the values. What happens when you use `aggfunc=[np.max, np.min, len]`?**

In [22]:
bball.pivot_table(index="Player", columns="TeamName", values=["Rebound","Assist"])

         Assist                           Rebound
TeamName  Magic Raptors Thunder  Warriors   Magic Raptors Thunder Warriors
Player
Curry       NaN     NaN     NaN  6.466667     NaN     NaN     NaN     5.00
Durant      NaN     NaN     5.0  5.100000     NaN     NaN     8.2     7.55
Ibaka       1.1     0.7     0.8       NaN     6.8     6.8     6.8      NaN

In [23]:
bball.pivot_table(index="Player", columns="TeamName", values=["Rebound","Assist"], aggfunc=[np.max, np.min, len])

           amax                                                            \
         Assist                          Rebound
TeamName  Magic Raptors Thunder Warriors   Magic Raptors Thunder Warriors
Player
Curry       NaN     NaN     NaN      6.7     NaN     NaN     NaN      5.4
Durant      NaN     NaN     5.0      5.4     NaN     NaN     8.2      8.3
Ibaka       1.1     0.7     0.8      NaN     6.8     6.8     6.8      NaN

           amin          ...                     len                           \
         Assist          ... Rebound          Assist
TeamName  Magic Raptors  ... Thunder Warriors  Magic Raptors Thunder Warriors
Player                   ...
Curry       NaN     NaN  ...     NaN      4.5    NaN     NaN     NaN      3.0
Durant      NaN     NaN  ...     8.2      6.8    NaN     NaN     1.0      2.0
Ibaka       1.1     0.7  ...     6.8      NaN    1.0     1.0     1.0      NaN


         Rebound
TeamName   Magic Raptors Thunder Warriors
Player
Curry        NaN     NaN     NaN      3.0
Durant       NaN     NaN     1.0      2.0
Ibaka        1.0     1.0     1.0      NaN

[3 rows x 24 columns]